*{margin: 0;}
.fatherproduct{
    width: 100%;    
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* background-color: red; */
  }
  .elementsproduct{
    width: 100%;
    /* background-color: yellow; */
    max-width: 2000px;
    max-height: 2000px;
  }
  .CodAndOriginProduct{
    display: flex;
    align-items: center;
  }
  .CodAndOriginProduct>hr{
    height: 10px;
    border: none;
    border-left: 2px dotted black;
    margin-left: 5px;
    margin-right: 5px;
  }
  .ImageAndPrice{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: orange; */
  }
  .ImageAnd{
    width: 60%;
    height: 600px;
    background-color: #e4f5f6;
    display: flex;
    align-items: center;
  }
  .PriceAnd{
    width: 39%;
    height: 600px;
    background-color: #e4f5f6;
    /* display: flex;
    align-items: center; */
  }
  .MoreImages{
    width: 20%;
    height: 85%;
    /* background-color: fuchsia; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* gap: 20px; */
}
.SquareImage{
    width: 70%;
    height: 50%;
    display: flex;
    background-color:rgb(223, 223, 147);
    margin-top: 25px;
}
.SquarePlus{
  /* é o quadrado +1    */
}
.SquareBig{
  width: 77%;
  height: 81%;
  background-color: rgb(223, 223, 147);
  display: flex;
  margin-top: 22.9px;
}
.NameProduct {
margin-bottom: 10px;
}