*{margin: 0;}
.fatherproduct{
    width: 100%;    
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* background-color: red; */
  }
  .elementsproduct{
    width: 100%;
    /* background-color: yellow; */
    max-width: 1500px;
    max-height: fit-content;
    min-width: 1200px;
    min-height: fit-content;
  }
  .CodAndOriginProduct{
    display: flex;
    align-items: center;
  }
  .CodAndOriginProduct>hr{
    height: 10px;
    border: none;
    border-left: 2px dotted black;
    margin-left: 5px;
    margin-right: 5px;
  }
  .ImageAndPrice{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: orange; */
  }
  .ImageAnd{
    width: 60%;
    height: 600px;
    background-color: rgb(206, 233, 236);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .PriceAnd{
    width: 39%;
    height: 600px;
    background-color: rgb(206, 233, 236);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .MoreImages{
    width: 20%;
    height: 95%;
    /* background-color: ; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    cursor: pointer;
}
.SquareImage{
    width: 80%;
    height: 25%;
    display: flex;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid gray;
}
.SquareImage>img{
  max-width: 100%;
  max-height: 100%;
}
.SquarePlus{
  /* é o quadrado +1    */
}
.SquarePlus>p{
  font-size: 60px;
  margin: 0;
}
.SquareBig{
  width: 70%;
  height: 95%;
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: center;
}
.SquareBig>img{
  max-width: 100%;
  max-height: 100%;
  border: 3px dashed gray;
}
.NameProduct {
margin-bottom: 10px;
font-weight: normal;
}


.FatherRating{
  width: 90%;
  height: 12%;
  /* background-color: brown; */
}
.FatherPrice{
  width: 90%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: blue; */
}
.QuantiaEstoque{
  width: 90%;
  height: 15%;
  /* background-color: rgb(132, 168, 132); */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}
.ButtonSayAdd{
  width: 90%;
  height: 30%;
  /* background-color: gray; */ 
}
.CompartilharProduct{
  cursor: pointer;
  font-size: 12px;
}
.ProductDisp{
  font-style: italic;
  font-size: 30px;
  color: green;
  font-weight: bold;
}
.QuantiTextProduct{
  color: gray;
  font-size: 19px;
  font-weight: bold;
}
.ButtonSayProduct{
  width: 100%;
  height: 50%;
  /* background-color: rosybrown; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.ButtonAddProduct{
  width: 100%;
  height: 50%;
  /* background-color: coral; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.GiveCarrinho{
  font-size: 30px;
  font-weight: bold;
}
.CompreNow{
  font-size: 30px;
  font-weight: bold;
}
.GiveCarrinhoo{
  padding: 20px;
  background-color: rgb(255, 255, 86);
  border-radius: 45px;
  border: none;
  cursor: pointer;
}
.CompreNoow{
  padding: 20px;
  background-color: yellow;
  border-radius: 45px;
  border: none;
  cursor: pointer;
}
.Rating{
  width: 100%;
  height: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  /* background-color:rgb(255, 255, 86); */
  
}
.EyeComents{
  width: 100%;
  height: 45%;
  /* background-color: red; */
}
.TextVerComents{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: grey;
}
.StarRating>img{
  max-width: 400px;
  max-height: 400px;
  width: 30px;
}
.Price{
  font-family: Arial, Helvetica, sans-serif;
}
.Price>h1{
  font-size: 25px;
  text-decoration: line-through;
  color: grey;
  /* font-family: Arial, Helvetica, sans-serif; */
}
.Price>b{
  font-size: 40px;
}
.Price>p{
  color: grey;
}
.PromoTion{
  width: 45%;
  height: 90%;
  background-color: #fed576;
  border-radius: 30px;
  padding: 15px;
}
.PorcentagemPromo{
  border-radius: 30px;
  width: 70%;
  height: 20%;
  padding: 5px;
  background-color: rgb(212, 60, 60);
}
.imgequipe>img{
  max-width: 40%;
  max-height: 40%;
  border: 1px solid black;
}
.imgequipe{
  display: flex;
  align-items: center;
  justify-content: center;
}
.sobrenostext{
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.sobrenostext2>p{
  font-size: 19px;
  margin-top: 30px;
  text-align: left;
}
.sobrenostext2{
  width: 80%;
}
.sobrenostext2>h2{
  text-align: left;
  color: #67b3b9;
  font-size: 30px;
}
.quemsomos{
  width: 100%;
  height: 90px;
  background-color: rgb(197, 197, 197);
  display: flex;
  align-items: center;
}
.quemsomos>h1{
  margin-left: 90px;
  font-size: 40px;
}
.caractproduct{
  margin-left: 20px;
}
.AvaliaClient{
  margin-left: 20px;
}
.AvaliaClientText{
  width: auto;
  height: auto;
  display: flex;
  margin-top: 5px;
  gap: 20px;
}
.Avalia1{
  color: gray;
  font-weight: bold;
  font-size: 13px;
}
.Avalia2{
  color: gray;
  font-weight: bold;
  font-size: 13px;
}
.ComentTextt{
  margin-left: 20px;
}
.OrganizComent{
  width: 30%;
  height: 150px;
  background-color:rgb(206, 233, 236);
  margin-left: 20px;
}
.Organizar1Text{
  font-size: 18px;
  margin-bottom: 10px;
}
.LinhaComent{
  margin-top: 40px;
  margin-bottom: 40px;
  border-color: gray;
}
.FatherComenti{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}
.BoxComent{
width: 97%;
max-height: 190px;
overflow: auto;
background-color: rgb(206, 233, 236);
display: flex;
flex-direction: column;
gap: 20px;
}
.partedecimacoment{
  display: flex;
  justify-content: space-between;
}
.NameDate{
  display: flex;
  align-items:center;
  gap: 20px;
}
.StarandText{
  display: flex;
}
.MarginOgrCom{
  margin-left: 10px;
}
.BoxComent::-webkit-scrollbar {
  width: 5px;
}

.BoxComent::-webkit-scrollbar-track {
  background: #6f95ac;
}

.BoxComent::-webkit-scrollbar-thumb {
  background: #91a8b6;
}

.BoxComent::-webkit-scrollbar-thumb:hover {
  background: #8498a5;
}
.ReportUtil{
  display: flex;
  justify-content: space-between;
}
.CheckUtil{
  display: flex;
  gap: 5px;
}
.elzaFronze{
  display: flex;
}
.ReportCom{
  text-decoration: none;
  color: gray;
}